.HomePageMission{
margin-top: 10px;
}

.footer {
    height: 4vw;
    width: 100%;
    color:#FFFFFF; 
    background: #2f2e2e;
    bottom: 0;
    display: flex;
    text-align: center;
    border:2px solid black;
    align-items:center;
    position:absolute;
    line-height: 1vw; 
    min-height: 35px;

}

.container{
  width: 100% !important; 
}

body{
    background-color: #B3CBE4 !important;

} 

.navbar{
    background-color: #2f2e2e;
    width:100%;
    border:3.3px solid black;

}
  /*Normalize html and body elements,this style is just good to have*/
  html{
    position:relative;
    min-height: 100%;
    overflow-x: hidden;
  }
  .pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
  } 

  .FooterIcons{


    margin-left: 1%;
  }
  .LastIcon{

    margin-left: 1%;
  }
  .FooterText{

    margin-left: auto;
    margin-right: auto;
    font-size: .8vh;
    font-size:1vw;
    
    margin-bottom: .5vw;
    margin-top:.5vw;


  }
  .col-sm-8{
    /* margin-right: 2%; */
  }


  /* .HomePageAlign{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: .5%;
    font-size: 1.65em;
  }
   */
  .HomePageOurPromise{
    margin-top: 1%;
    margin-bottom: .5%;
    font-size: 1.3vh;
    font-size: 2.6vw;
  }
  .HomePageOurMission{

    margin-top: 1%;
    margin-bottom: .5%;
    font-size: 1.3vh;
    font-size: 2vw;
  }
  .homePageYourAnswer{
    margin-top: 1%;
    margin-bottom: .5%;
    font-size: 1.3vh;
    font-size: 2vw;
  }
.homePageAlignRight{
    text-align: left;
    font-size: 1.3vh;
    font-size: 2vw;
  }
h1{
  font-size: 52px; 
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.h1Services{
  font-size: 52px; 
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.parent {

  position: relative;
  top: 0;
  left: 0;


}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 23vw;
  width: 26vw; 
  border:4px solid black;

}

.image2 {
  position: absolute;
  top: 16vw;
  left: 22vw;
  width: 26vw;
  height: 23vw;
  border:4px solid black; 

}
.AlignSecondHalfOfHomePage{
  margin-left: 6vw;
  font-size: 1.3vh;
  font-size: 2vw;

  
}
.HomePageAlignSecondHalfTitle{
  margin-left: 30vw;
  margin-top: 4vw;
  margin-bottom: 2%;
  

}
.HomePageAlignSafetyParagraph{
  margin-left: 28vw;
  margin-top: 2vw;
  margin-bottom: 3%;
  font-size: 1.3vh;
  font-size: 2vw;
}
.h1Services{
  text-align: left;
  margin-left: 3%;
}
.AboutPageAlignRight{
  text-align: left;
  font-size: 26px;
  margin-left: 10%;
  margin-top: 5%;
}
.ServicesPageAlignRight{
  text-align: left;
  font-size: 1vh;
  font-size: 1.8vw;
  margin-left: 10%;
  margin-top: 5%;

}
.ContactAlignRight{
  text-align: left;
  font-size: 26px;
  margin-left: 10%;
  margin-top: 5%;
}
.ContactPageAlignRight{
  text-align: left;
  font-size: 1.65em;
  margin-top: 14%;
  margin-left: 3%;
}
.ServicesPageAlignListItems{
  text-align: left;
  font-size: 1vh;
  font-size: 1.8vw;
}
.ServicesPageAlignLeft{
  text-align: left;
  font-size: 1vh;
  font-size: 1.8vw;
  margin-top: 1%;
  margin-left: 2%;
}

.ServicesPictures
{
  width:21.5vw; 
  height: 20vw; 
  margin-top:3%;  
  border:3px solid black;
  margin-bottom: 5vw; 
}
.ServicesPicturesStart
{
  width:21.5vw; 
  height: 20vw; 
  margin-top:3%; 
  margin-left:5%; 
  border:3px solid black; 
  margin-bottom: 5vw; 
}
.ServicesPicturesEnd
{
  width:21.5vw; 
  height: 20vw; 
  margin-top:3%;  
  border:3px solid black; 

  margin-bottom: 5vw; 
}
.AncorToBottom{
  position:fixed;
  width:100%;
  height: 100%;
}
.h1Contact{
  text-align: left;
  margin-left:17%;
}
.titleLogo{
  margin-left:auto;
  margin-right:auto;
  display: block;
  height:9vw;
  width:52vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

.BackDrop{

  color:black;
}