.card{
border-width: 100%;
border-right: 0px;
border-left: 0px;
border-style:solid;
border-color: black !important;
}

.HomePageMission{
margin-top: 10px;
}

.footer {
    position: absolute;
    min-height: 60px;
    height: 4.5em;
    width: 100%;
    color:#FFFFFF; 
    background: #2f2e2e;
    bottom: 0;
    display: flex;
    text-align: center;
    border:2px solid black;
    align-items:center;
}


body{
    background-color: #B3CBE4 !important;

} 

.navbar{
    background-color: #2f2e2e;
    width:100%;
    border:3px solid black;

}
html{
    position:relative; 
    min-height: 100%;
  }
  /*Normalize html and body elements,this style is just good to have*/
  html{
    margin:0; 
    padding-bottom: 30em;
    overflow-x: hidden;
  }
  .pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
  } 

  .FooterIcons{

    align-items:flex-start !important;
    margin-left: 1%;
  }
  .LastIcon{

    margin-left: 1%;
  }
  .FooterText{

    margin-left: 30%;
    font-size: 12px;
    margin-right: 3%;
    margin-top:1%;


  }
  .col-sm-8{
    margin-right: 3%;
  }

  .HomePageAlign{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: .5%;
    font-size: 1.65em;
  }
.homePageAlignRight{
    text-align: left;
    font-size: 26px;
  }
h1{
  font-size: 52px; 
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.h1Services{
  font-size: 52px; 
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.parent {

  position: relative;
  top: 0;
  left: 0;


}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 23vw;
  width: 26vw; 
  border:3px solid black;
  margin-left: 2vw;
  margin-right: 1vw;
}

.image2 {
  position: absolute;
  top: 15vw;
  left: 22vw;
  width: 26vw;
  height: 23vw;
  border:3px solid black; 
  margin-left: 1vw;
  margin-right: 1vw;
}
.AlignSecondHalfOfHomePage{
  margin-left: 6vw;
  font-size: 1.65em;

  
}
.HomePageAlignSecondHalfTitle{
  margin-left: 33vw;
  margin-top: 4vw;
  margin-bottom: 2%;
  

}
.HomePageAlignSafetyParagraph{
  margin-left: 28vw;
  margin-top: 2vw;
  margin-bottom: 3%;
  font-size: 1.65em;
}
.h1Services{
  text-align: left;
  margin-left: 3%;
}
.AboutPageAlignRight{
  text-align: left;
  font-size: 26px;
  margin-left: 10%;
  margin-top: 5%;
}
.ServicesPageAlignRight{
  text-align: left;
  font-size: 1.65em;
  margin-left: 10%;
  margin-top: 5%;
}
.ContactAlignRight{
  text-align: left;
  font-size: 26px;
  margin-left: 10%;
  margin-top: 5%;
}
.ContactPageAlignRight{
  text-align: left;
  font-size: 1.65em;
  margin-top: 14%;
  margin-left: 3%;
}
.ServicesPageAlignListItems{
  text-align: left;
  font-size: 1.65em;
}
.ServicesPageAlignLeft{
  text-align: left;
  font-size: 1.65em;
  margin-top: 1%;
  margin-left: 2%;
}

.ServicesPictures
{
  width:23.2vw; 
  height: 20.82vw; 
  margin-top:3%;  
  border:3px solid black; 
}
.ServicesPicturesStart
{
  width:23.2vw; 
  height: 20.82vw; 
  margin-top:3%; 
  margin-left:2%; 
  border:3px solid black; 
  margin-left:2%;
}
.ServicesPicturesEnd
{
  width:23.2vw; 
  height: 20.82vw; 
  margin-top:3%;  
  border:3px solid black; 
  margin-right:2%;
}
.AncorToBottom{
  position:fixed;
  width:100%;
  height: 100%;
}
.h1Contact{
  text-align: left;
  margin-left:17%;
}
.titleLogo{
  margin-left:auto;
  margin-right:auto;
  display: block;
  height:9vw;
  width:52vw;
}